@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300;600&display=swap');

* {
   margin: 0;
   padding: 0;

}

@media (max-width: 899px) {

    header {
        background: rgb(60, 60, 60);
        width: calc(100%-60px);
        padding: 15px 30px;
        color: #fff;
        text-align: center;
    }

    header nav a {
    color: #fff;
    text-decoration: none;
    width: 100%;
    font-size: 1.3em;
    transition: all 500ms ease;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    }

    header nav a.btn {
        padding: none;
        border: 1px solid skyblue;
        border-radius: 1px;
    }

}

@media (min-width: 900px) {

    header {
        background: rgb(60, 60, 60);
        width: calc(100%-60px);
        padding: 15px 30px;
        color: #fff;
        display: flex; 
        justify-content: space-between;
        align-items: center;
   }

   header nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    font-size: 1.3em;
    transition: all 500ms ease;
    }

    header nav a.btn {
        padding: 5px;
        border: 2px solid skyblue;
        border-radius: 3px;
    }

}

body {
    background: rgb(30, 30, 30);
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 300;
}

header .logo {
    font-weight: 600;
    font-size: 2.5em;
}

header nav a.btn:hover {
  font-size: 1.5em;
  color: skyblue;
}

main {
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
    color: #fff;
    font-size: 2.5em;
    width: 94%;
}

h1 {
    font-size: 1em;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 0.5%;
    width: 100%;
    font-size: 0.5em;
}

form input {
    width: 70%;
    border: 1px solid skyblue;
    border-radius: 5px;
    padding: 1% 2%;
    margin-bottom: 1%;
    font-size: 0.5em;
}

form p {
    width: 95%;
    font-size: 0.8em;
    text-decoration: underline;
}

#recovery {
    text-decoration: underline;
    color: #fff;
    font-size: 0.6em;
}

#code_msg {
    font-size: 1.5em;
}

form button {
    background: solid skyblue;
    width: 70%;
    border: 2px solid skyblue;
    border-radius: 0.5%;
    padding: 1% 2%;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 0.5em;
    cursor: pointer;
    transition: transform 500ms ease;
}

form button:hover {
    transform: scale(1.1);
}

.err {
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    display: none;
}

.code {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    display: none;
}

footer {
    margin-top: 5%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    width: calc(100%-50px);
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    box-sizing: border-box;
}

footer .info {   
    background: rgb(60, 60, 60);    
    color: #fff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    line-height: 150%;
    border-radius: 5px;
}

p {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}